
.navBar {
    border: 1px solid black;
    display: flex;
    margin: 20px;
    
}

ul {
    display: flex;
    list-style-type: none;
    padding: 20px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #f50a0a;
}
  
.active {
    background-color: #04AA6D;
}

.mainAd {
    border: solid red;
    height: 70vh;
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
}
  

.productsContainer {
    border: solid green;
    height: 300px;
    display: flex;
}

.itemContainer {
    border: solid plum;
    display: block;
    margin: 20px;
    padding: 10px;
}

.footerContainer {
    border: solid purple;

}

.mediaLinks {
    border: solid blue;
    display: flex;
    justify-content: space-between;
}